.content {
    margin: auto auto auto auto;
    width: 60%;
    min-width: 1200px;
}

.ccmmcard {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 30%;
}

html {
    background-image: url("https://i.ibb.co/gtVt5M4/headimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top-pad {
    position: absolute;
  top: 20%;
}

.logo {
    width: 45%;
    height: 100%;
    float: left;
}

.logo img {
    width: 100%;
}

.text {
    padding: 5px;
    float: right;
    text-align: left;
    font-family: mayden;
    font-size: 15px;
    max-width: 45%;
}

@font-face {
	font-family: mayden;
	src: url(../blocksanity.net/content/fonts/MadeynSans-Semibold.ttf);
}