@import '/styles/global.css';

.journalEntry {
    width: 50%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 35px;
}

.journalTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
}

.journalDate {
    font-weight: 200;
    color: #aaa;
}

.journalImage {
    width: 75%;
    display: block;
    margin: 10px auto;
    box-shadow: 2px 5px 15px #777;
}

.imgCaption {
    font-weight: 200;
    color: #777;
    font-size: 0.8rem;
    text-align: center;
}

figure {
    margin: 25px 0 25px 0;
}