@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {

}

#header {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

div.content {
  text-align: center;
}

a {
  text-decoration: none;
}

div#navbar {
  width: 101%;
  margin: -10px;
  position: fixed;
  top: 0;
  background-color: #00000050;
  padding: 40px 10px 10px;
  transition: 0.2s ease
}

div#navbar a {
  font-family: mayden;
  text-align: center;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: #ddd;
}

div#navbar img {
  width: 75px;
  margin: -30px 0 -5px -95px;
  float: left;
  transition: 0.5s ease
}

.breaker {
  /* position: relative; */
  margin: 20px -10px 30px -10px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breakerEase {
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 100px;
  width: auto;
  height: auto;
  /* transform: translate(0, -50%); */
  margin: -1px 0 0 0;
}

div.section {
  background-color: white;
  padding: 20px 30px;
  /* border-radius: 5px; */
  margin: 10px auto 0;
  /* border-top: 4px solid #711;
  border-image-slice: 1; */
  /* box-shadow: 8px 8px 5px rgba(50,50,50,0.5) */
  max-width: 800px;
}

div.sectionlist {
  margin: 50px 0 0 0;
}

span.sectionheader {
  font-size: 30px;
  font-family: mayden;
}

p.sectiontext {
  font-family: "Open Sans";
  font-size: 17px;
  text-align: left;
}

span.sectionsubheader {
  display: block;
  font-family: "Open Sans";
  font-size: 20px;
}

div.listRow {
  margin: 0;
}

div.listItem {
  position: relative;
  display: inline-block;
  margin: 10px;
  max-width: 340px;
}
 img {
  width: 100%;
  border-radius: 5px;
}

button.download {
  font-family: "Open Sans";
  font-size: 30px;
  margin: 25px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px #bbb solid;
  color: #333;
  transition: 0.3s ease;
}

button.download:hover {
  color: #000;
  border: 2px #711 solid;
  border-radius: 10px;
}

div.listItem img.smallIcon {
  width: 200px;
}

div.listItemDimmer {
  position: absolute;
  top: -40px;
  right: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease; /* Safari */
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

p.listItemHeader {
  font-family: mayden;
  font-size: 1.2em
}

p.listItemText {
  float: left;
  font-family: "Open Sans";
  font-size: 0.9em
}

p.listItemHeader_hiddenUntilHover {
  color: white;
  font-family: mayden;
  font-size: 1.2em
}

p.listItemText_hiddenUntilHover {
  color: white;
  font-family: "Open Sans";
  font-size: 0.9em
}

div.listItem:hover div.listItemDimmer {
  opacity: 1;
  right: 0;
  top: 0;
  border-radius: 10px;
}

@font-face {
	font-family: lemonmilk;
	src: url(http://blocksanity.net/content/fonts/LemonMilk.otf);
}

@font-face {
	font-family: mayden;
	src: url(http://blocksanity.net/content/fonts/MadeynSans-Semibold.ttf);
}

@font-face {
	font-family: getho;
	src: url(http://blocksanity.net/content/fonts/Getho-Light.ttf);
}
